<app-page-header name="Gallery" img="/images/header-2.png"/>

<p class="gallery__text">
  Explore our stunning collection of images and visuals in the Gallery section. Whether it’s breathtaking landscapes, captivating artwork, or memorable moments captured in time, our gallery showcases a variety of images that inspire and tell unique stories. Browse through different categories, discover new perspectives, and immerse yourself in the beauty of visual creativity.
</p>

<div class="gallery__wrapper">
  <img src="/images/gallery-1.png" alt="img"/>
  <img src="/images/gallery-2.png" alt="img"/>
  <img src="/images/gallery-3.png" alt="img"/>
  <img src="/images/gallery-4.png" alt="img"/>
  <img src="/images/gallery-5.png" alt="img"/>
  <img src="/images/gallery-6.png" alt="img"/>
  <img src="/images/gallery-7.png" alt="img"/>
  <img src="/images/gallery-8.png" alt="img"/>
  <img src="/images/main-slide-3.png" alt="img"/>
</div>
