<div class="videos__wrapper">
  <app-text-content
    contentTitle="Life in Armenia"
    text="Discover life in Armenia—its warm hospitality, rich culture, stunning landscapes, and vibrant communities. Experience the perfect blend of tradition and modern living!"
  />

  <div class="videos">
    <video class="videos__item" controls="controls">
      <source src="/videos/video1.mp4" type="video/mp4">
    </video>
    <video class="videos__item" controls="controls">
      <source src="/videos/video2.mp4" type="video/mp4">
    </video>
  </div>
</div>
