@font-face {
  font-family: 'sarabun-regular';
  src: url('../../fonts/Sarabun-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'sarabun-medium';
  src: url('../../fonts/Sarabun-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'sarabun-semibold';
  src: url('../../fonts/Sarabun-SemiBold.ttf');
  font-weight: 600;
}
