.useful__information {
  max-width: 155rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.0rem;
  line-height: 3.5rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
  }

  .contact__info {
    color: #1f73fa;
  }
}

@media screen and (max-width: 991px) {
  .useful__information {
    padding: 5rem 1.4rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .useful__information {
    padding: 5rem 1.4rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    gap: 2.0rem;
  }
}
