<app-page-header name="Useful information" img="/images/gallery-1.png"/>

<div class="useful__information">
  <p> {{ "useful_information.title" | transloco }} </p>

  <div class="useful__information__item" [innerHTML]="'useful_information.geography' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.visa' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.currency' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.language' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.best_time' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.transportation' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.safety' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.food' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.electrical_outlets' | transloco | safeHtml"></div>
  <div class="useful__information__item" [innerHTML]="'useful_information.tips' | transloco | safeHtml"></div>

  <div class="contact__info">
    <span>{{ 'useful_information.contact.f_part' | transloco }}</span>
    <span class="modal" (click)="modalService.openModal()">{{ 'useful_information.contact.modal_text' | transloco }}</span>
    <span>{{ 'useful_information.contact.l_part' | transloco }}</span>
  </div>
</div>
