<div
  class="contact"
  [style.background-image]="
    'linear-gradient(#00000080, #00000080), url(' + '/images/contact.png' + ')'
  ">
  <div class="contact__info__wrapper">
    <p class="contact__info__title">Contact Us</p>
    <div class="contact__info__items">
      <div class="contact__info__item">
        <img src="/svgs/phone.svg" alt="phone" />
        +374 77 123 456
      </div>
      <div class="contact__info__item">
        <img src="/svgs/email.svg" alt="email" />
        visitArmina mail
      </div>
      <div class="contact__info__item">
        <img src="/svgs/location.svg" alt="location" />
        Kentron District, Yerevan 0010, Armenia
      </div>
    </div>
    <div class="socials">
      <span class="socials__item">
        <a
          target="_blank"
          href="https://www.facebook.com/people/Visit-Armina/61572801273485"
        >
          <img src="/svgs/facebook.svg" alt="facebook" />
        </a>
      </span>
      <span class="socials__item">
        <a target="_blank" href="https://www.instagram.com/visitarmina">
          <img src="/svgs/instagram.svg" alt="instagram" />
        </a>
      </span>
    </div>
  </div>
  <app-contact-form />
</div>
