<div
  class="contact"
  [style.background-image]="
    'linear-gradient(#00000010, #00000010), url(' + '/images/contact.png' + ')'
  "
>
  <div class="contact__info__wrapper">
    <p class="contact__info__title">Contact Us</p>
    <div class="contact__info__items">
      <div class="contact__info__item">
        <img ngSrc="/svgs/phone.svg" alt="phone" height="24" width="24" />
        +374 77 123 456
      </div>
      <div class="contact__info__item">
        <img ngSrc="/svgs/email.svg" alt="email" height="24" width="24" />
        <a href="mailto:info@visitarmina.am" target="_blank"
          >info&#64;visitarmina.am</a
        >
      </div>
    </div>
    <div class="socials">
      <span class="socials__item">
        <a
          target="_blank"
          href="https://www.facebook.com/people/Visit-Armina/61572801273485"
        >
          <img
            ngSrc="/svgs/facebook.svg"
            alt="facebook"
            height="16"
            width="10"
          />
        </a>
      </span>
      <span class="socials__item">
        <a target="_blank" href="https://www.instagram.com/visitarmina">
          <img
            ngSrc="/svgs/instagram.svg"
            alt="instagram"
            height="16"
            width="16"
          />
        </a>
      </span>
    </div>
  </div>
  <app-contact-form />
</div>
