<div class="gallery">
  <app-text-content
    contentTitle="Gallery"
    text="Step into the heart of Armenia with a curated selection of images that highlight its natural beauty, rich culture, and timeless landmarks."
  />

  <div class="gallery__wrapper">
    <img src="/images/gallery-1.png" alt="img"/>
    <img src="/images/gallery-2.png" alt="img"/>
    <img src="/images/gallery-3.png" alt="img"/>
    <img class="large-image" src="/images/gallery-4.png" alt="img"/>
    <img class="one" src="/images/gallery-5.png" alt="img"/>
    <img src="/images/gallery-6.png" alt="img"/>
  </div>
</div>
