.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #FDFBEE;
  padding: 1.8rem 0;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;

  .active {
    color: #FE4F2D;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__item {
      font-size: 2.1rem;
      transition: color .3s;
      cursor: pointer;

      &:hover {
        color: #FE4F2D;
      }
    }
  }

  .socials {
    display: flex;
    gap: 1.2rem;

    &__item {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.4rem;
      height: 3.4rem;
      background: #FDFBEE80;
      backdrop-filter: blur(0.4rem);
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    gap: 1.4rem;
    padding: 1.4rem;
    justify-content: flex-end;

    &__navigation {
      display: none;
    }
    app-language-switch {
      display: none;
    }
    .socials {
     display: none;
    }
  }
}
