<app-page-header name="Armenia at a glance" img="/images/header-1.png"/>

<div class="about__armenia">
  <p class="about__armenia__text" [innerHTML]="'about_armenia_text' | transloco | safeHtml"></p>
  <img class="about__armenia__img" ngSrc="/images/map.png" alt="map" height="500" width="488"/>
</div>

<div class="media__wrapper">
  @for (mediaItem of media(); track $index) {
  <app-media-card
    [mediaTitle]="mediaItem.title"
    [text]="mediaItem.text"
    [img]="mediaItem.img"
  />
  }
</div>

<app-armenia-slider />
