<div
  class="main__slider__item"
  [style.background-image]="
    'linear-gradient(#00000080, #00000080), url(' + img() + ')'
  "
>
  <div class="slide__content">
    <div class="slide__content__info">
      <h2 class="slide__title">Discover Armenia</h2>
      <p class="slide__text">
        Where ancient history meets <br />
        breathtaking nature!
      </p>
      <button class="slide__btn">Travel Now</button>
    </div>
    <div class="socials">
      <span class="socials__item">
        <a
          target="_blank"
          href="https://www.facebook.com/people/Visit-Armina/61572801273485"
        >
          <img src="/svgs/facebook.svg" alt="facebook" />
        </a>
      </span>
      <span class="socials__item">
        <a target="_blank" href="https://www.instagram.com/visitarmina">
          <img src="/svgs/instagram.svg" alt="instagram" />
        </a>
      </span>
    </div>
  </div>
</div>
