.media__card {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  background: rgba(205, 225, 254, 0.2);
  border-radius: 1.0rem;
  overflow: hidden;
  box-shadow: 3px 4px 12px #1A17173B;

  &__img {
    max-width: 45.0rem;
    width: 100%;
    box-shadow: 3px 4px 12px #1A17173B;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    line-height: 2.8rem;
  }

  &__title {
    font-weight: bold;
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 991px) {
  .media__card {
    gap: 1.4rem;

    &__img {
      max-width: 30.0rem;
    }

    &__content {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    &__title {
      font-size: 2.0rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .media__card {
    flex-direction: column;
    &__img {
      max-width: unset;
      height: 30.0rem;
    }
    &__content {
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .media__card {
    &__img {
      height: 20.0rem;
    }
  }
}
