.tourism__slider {
  display: flex;
  flex-direction: column;
  gap: 12.5rem;
  position: relative;
  max-width: 110.0rem;
  margin: 0 auto;

  .embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 19rem;

    &__viewport {
      overflow: hidden;
      cursor: grab;
    }

    &__container {
      backface-visibility: hidden;
      display: flex;
      gap: 3.75rem;
      touch-action: pan-y;
      position: relative;
    }

    &__btn {
      cursor: pointer;
      position: absolute;
      left: -4.8rem;
      top: 50%;
    }

    .right {
      left: unset;
      right: -4.8rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .tourism__slider {
    .embla {
      &__container {
        gap: 1.75rem;
      }
      &__btn {
        left: -2.8rem;
        top: 45%;
      }
      .right {
        right: -2.8rem;
      }
    }
  }
}
