.form {
  background: #FDFBEE;
  border-radius: 1.0rem;
  padding: 5.5rem 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
  max-width: 85.6rem;
  width: 100%;
  position: relative;

  &__title {
    font-weight: 600;
    font-size: 3.2rem;
    color: #1A1717;;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .info {
      display: flex;
      gap: 2.0rem;
    }

    &__label {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      color: #656565;
    }

    .input {
      all: inherit;
      border: 1px solid #B6B6B6;
      border-radius: 1.0rem;
      padding: 0.8rem;
    }

    .textarea {
      height: 12.0rem;
    }

    .contact__btn {
      width: 20.7rem;
      background: #FDFBEE;
      border: 1px solid #1A1717;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem 2.0rem;
      color: #1A1717;
      border-radius: 1.0rem;
      cursor: pointer;
      &.disabled {
        background: #EBEBEB;
        border: 1px solid #AAAAAA;
        color: #AAAAAA;
        cursor: not-allowed;
      }
    }
  }

  .close {
    width: 4.0rem;
    height: 4.0rem;
    background: #aaaaaa;
    border-radius: 1.0rem;
    padding: 0.2rem;
    position: absolute;
    right: 4.5rem;
    top: 5.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 991px) {
  .form {
    padding: 3.5rem 2.5rem;

    &__title {
      font-size: 2.4rem;
    }

    .contact__form {
      font-size: 1.6rem;
      gap: 1.4rem;

      .contact__btn {
        width: 15.7rem;
        padding: 1.4rem 1.8rem;
      }
    }

    .close {
      width: 2.0rem;
      height: 2.0rem;
      border-radius: 0.7rem;
      right: 2.5rem;
      top: 3.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    max-width: unset;

    .contact__form {
      &__label {
        width: 100%;
      }
    }
  }
}
