:host {
  width: 100%;
}

.tourism__item {
  width: 37.5rem;
  height: 43.0rem;
  border-radius: 1.0rem;
  display: flex;
  align-items: end;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  color: #FDFBEE;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #cde1fe;
  }

  &__name__wrapper {
    background: rgba(31, 31, 31, 0.6);
    width: 100%;
    height: 8.8rem;
    padding: 1.8rem;
    display: flex;
    align-items: center;
    transition: height 0.2s ease-in-out;

    .tourism__item:hover & {
      height: 10.8rem;
    }
  }

  &__name {
    font-size: 2.0rem;
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 991px) {
  .tourism__item {
    width: 29.5rem;
    height: 32.0rem;

    &__name {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .tourism__item {
    width: inherit;
  }
  .slide {
    width: 27.5rem;
    height: 28rem;
  }
}

@media screen and (max-width: 650px) {
  .slide {
    width: 25.0rem;
    font-size: 1.4rem;
  }
}

