<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div class="footer__content__wrapper">
      <p class="footer__title">Information</p>
      <div class="footer__links">
        <a class="footer__links__item">About Armenia</a>
        <a class="footer__links__item">Holiday Types</a>
        <a class="footer__links__item">Highlights</a>
        <a class="footer__links__item">Useful Information</a>
        <a class="footer__links__item">Who we are</a>
        <a class="footer__links__item">Gallery</a>
      </div>
    </div>
    <div class="footer__content__wrapper">
      <p class="footer__title">Contact Us</p>
      <div class="footer__contact__items">
        <div class="footer__contact__item">
          <img src="/svgs/phone.svg" alt="phone" />
          +374 77 123 456
        </div>
        <div class="footer__contact__item">
          <img src="/svgs/email.svg" alt="email" />
          visitArmina mail
        </div>
        <div class="footer__contact__item">
          <img src="/svgs/location.svg" alt="location" />
          Kentron District, Yerevan 0010, Armenia
        </div>
      </div>
      <div class="socials">
        <a
          target="_blank"
          href="https://www.facebook.com/people/Visit-Armina/61572801273485"
        >
          <img src="/svgs/facebook.svg" alt="facebook" />
        </a>
        <a target="_blank" href="https://www.instagram.com/visitarmina">
          <img src="/svgs/instagram.svg" alt="instagram" />
        </a>
      </div>
    </div>
    <div class="create-container">
      <i><p>&copy; 2025 .All Rights Reserved.</p></i>
    </div>
  </div>
</footer>
