<app-page-header name="Highlights" img="/images/header-3.png"/>

<p class="highlight__text">
  Explore the top highlights of tourism, featuring must-visit destinations, iconic landmarks, cultural experiences, and hidden gems. From breathtaking natural wonders to vibrant city attractions, discover what makes each journey unforgettable.
</p>

<div class="highlight__images">
  <app-tourism-slider-item img="/images/gallery-4.png" name="Jermuk"/>
  <app-tourism-slider-item img="/images/gallery-5.png" name="Goris"/>
  <app-tourism-slider-item img="/images/gallery-6.png" name="Sardarapat"/>
  <app-tourism-slider-item img="/images/gallery-7.png" name="Garni"/>
  <app-tourism-slider-item img="/images/gallery-8.png" name="Spitakavor"/>
  <app-tourism-slider-item img="/images/tourism-6.png" name="Sevanavank Monastery"/>
  <app-tourism-slider-item img="/images/tourism-2.png" name="Yerevan"/>
</div>
