<app-page-header name="Must to see" img="/images/header-3.png"/>

<p class="must__to__see__text"> {{ "must_to_see.title" | transloco }}</p>

<div class="must__to__see__images">
  @for (place of places(); track place.id) {
    <app-tourism-plases
      [img]="place.img"
      [name]="place.name"
      [link]="['/must-to-see', place.id]"
    />
  }
</div>

<div class="must__to__see__text">
  <h3 class="desc__title">{{ "must_to_see.tour-description.title" | transloco }}</h3>
  <div [innerHTML]="'must_to_see.tour-description.text' | transloco | safeHtml"></div>
</div>
